<div class="col-md-2">
  <p class="shopping_cart_title">Carro de compras:</p>
  <div class="shopping_cart">
    <% current_user.shopping_carts.each do |ele| %>
    <div class="row" id="<%=ele.id%>">
      <div class="col-md-2">

        <%= link_to '<i class="fas fa-minus-circle"></i>'.html_safe, ele, method: :delete, data: { remote: true } %>
      </div>
      <div class="col-md-5">
        <%= image_tag ele.product.picture, class:'card-img' %>
      </div>
      <div class="col-md-5">
        <%= "$#{ele.product.price}" %>
      </div>
    </div>
    <br>
    <% end %>
  </div>
  <% total = locals[:products].pluck(:price).sum %>
  <div class="row">
    <div class="col-md-6">
      <p>Total:</p>
    </div>
    <div class="col-md-6 text-right" id='totalContainer'>
      <p id='total'><%=total%></p>
    </div>
  </div>
</div>
