
<% @stories.each do |story| %>
<div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= story.title %></h2>
    </div>
  </div>
  <br>
  <div class="row">
        <div class="col-md-6">
          <%=image_tag story.picture, class:'img-fluid img-blog' %>
        </div>
        <div class="col-md-6 blog">
          <p><%= story.content %></p>
          <p>
            <%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, like_path(story), method: :post %>
            <%= @liked.where(story: story).length %>
          </p>
        </div>
  </div>
  <br>

</div>
<% end %>
