<!--
<% @stories.each do |story| %>
<div>
  <div class="row">
    <div class="col-md-12 text-center">
      <h2><%= story.title %></h2>
    </div>
  </div>
  <br>
  <div class="row">
        <div class="col-md-6">
          <%=image_tag story.picture, class:'img-fluid img-blog' %>
        </div>
        <div class="col-md-6 blog">
          <p><%= story.content %></p>
          <p>
            <% if story.likes.where(liked: true).pluck(:user_id).include?(current_user.id) %>
              <%= link_to '<i class="fas fa-thumbs-up"></i>'.html_safe, like_path(story), method: :post %>
              <% else %>
              <%= link_to '<i class="far fa-thumbs-up"></i>'.html_safe, like_path(story), method: :post %>
            <% end %>
            <%= @liked.where(story: story).length %>
          </p>
        </div>
  </div>
  <br>

</div>
<% end %> -->
<%@stories.each do |story|%>
<div class="card">
  <div class="card-body">
    <h4 class="card-title"><%= story.title %></h4>
    <div class=" row">
      <div class="col-md-6">
        <%= image_tag story.picture, class:'img-fluid story_index_picture'%>
      </div>
      <div class="col-md-6">

        <p class="card-subtitle mb-2 text-muted"><%= "#{story.content[0..400]}..." %></p>
        <div class="row">
          <div class="col-md-6">
            <%= link_to 'Artículo completo', story_path(story), class:'card-link' %>
          </div>
          <div class="col-md-6">
            <p class='text-right'><%= story.likes.length %> <i class="fas fa-thumbs-up"></i></p>

          </div>
        </div>

      </div>

    </div>
  </div>
</div>
<br>
<%byebug%>

<!-- <div class="jumbotron">
  <h3><%= story.title %></h3>
  <%= image_tag story.picture, class:'img-fluid story_picture' %>
  <hr class="my-4">
  <p class="lead"><%= story.subtitle %></p>
  <p><%= story.likes.length %> <i class="fas fa-thumbs-up"></i></p>
  <p class="lead">
    <a class="btn btn-primary" href="#" role="button">Leer</a>
  </p>
</div> -->
<%end%>
