<% @products.each_slice(4) do |products| %>
  <div class="row">
    <% products.each do |product| %>
    <div class="col-md-3">
      <div class="card">
        <%= image_tag product.picture, class:'img-fluid'%>
        <div class="card-body">
          <h3 class="card-title"><%= product.name %></h3>
          <h5 class="text-right"><%= "$#{product.price}" %></h5>
          <p class="card-text"><%= "#{product.description[0..170]}..." %></p>
          <%= link_to 'Leer más', product_show_path(product), class:'stretched-link' %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br>
<% end %>
