<% @products.each_slice(3) do |products| %>
  <div class="row">
    <% products.each do |product| %>
    <div class="col-md-4">
      <div class="card">
        <%= image_tag product.picture, class:'img-fluid'%>
        <div class="card-body">
          <h3 class="card-title"><%= product.name %></h3>
          <h5 class="text-right"><%= "$#{product.price}" %></h5>
          <p class="card-text"><%= "#{product.description[0..170]}..." %></p>
          <p><%= link_to 'Leer más', product_path(product), class:'link' %></p>
          <p><%= link_to '<i class="fas fa-cart-plus"></i>'.html_safe, shopping_carts_path(product_id: product.id), method: :POST, class:'btn btn-sm btn-success', data: { remote: true } %></p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
  <br>
<% end %>
