
<div class="row no-gutters bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <%= image_tag @product.picture, class:'img-fluid'%>
  </div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <h4 class="mt-0 text-center"><%= @product.name %></h4>
    <br>
    <h5 class='mt-0'>Descripción:</h5>
    <p><%= @product.description %></p>
    <br>
    <h5 class='mt-0'>Instrucciones de uso:</h5>
    <p><%= @product.instructions %></p>
    <br>
    <h5><%= "$#{@product.price}" %></h5>
    <%= link_to 'Agregar al carro', shopping_carts_path(product_id: @product.id), method: :POST, class:'btn btn-success' %>

  </div>
</div>
