
<div class="row no-gutters bg-light position-relative">
  <div class="col-md-6 mb-md-0 p-md-4">
    <%= image_tag @product.picture, class:'img-fluid'%>
  </div>
  <div class="col-md-6 position-static p-4 pl-md-0">
    <h3 class="mt-0 text-center"><%= @product.name %></h3>
    <br>
    <h4 class='mt-0'>Descripción:</h4>
    <p><%= @product.description %></p>
    <br>
    <h4 class='mt-0'>Instrucciones de uso:</h4>
    <p><%= @product.instructions %></p>
    <br>
    <h4><%= "$#{@product.price}" %></h4>
    <a href="#" class="btn btn-success">Añadir al carro de compras </a>
  </div>
</div>
